<h1> <%=@name%>'s Pollys </h1>
<ul>
    <% i = 0 %>
    <% while i < @mypolls.length %>
        <li><a href="/polls/<%=@mypolls[i].id%>"><%= @mypolls[i].title %></a></li>
        <% i = i + 1 %>
    <%end%> 
</ul>