<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <center> <h2><%=@name%>'s New Polly</h2> </center>
    <div class="content">
      <p>
        <form action="/polls" method="post">
            
            <label><h3> New Polly Name: </h3></label> 
            <input type="text" name="id[title]">

            <br>
            <h3> Number of Questions: </h3>
            <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
            <option value = "6">6</option>
            <option value = "7">7</option>
            <option value = "8">8</option>
            <option value = "9">9</option>
            <option value = "10">10</option>
            </select>
        <br>
        <input type="submit">
        </form>            
      </p>
    </div>
  </div>
</div>