<div class="container">
  <header><center><img src="images/polly-small.png" class="img-responsive main-image"></center></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome <%=@name%></h2>

    <div class="content">
      <p>If you're seeing this page, then everything is working</p>
    </div>
  </div>
</div>
