<div class="container">
  <header><center><img src="images/polly-small.png" class="img-responsive main-image"></center></header>
  <div class="col-md-8 col-md-offset-2">
    <center> <h2>Welcome <%=@name%></h2> </center>

    <div class="content">
      <p>
        <h3><left> Make a New Poll </left></h3>
        <h3><right> Take a Poll </right></h3>
      </p>
    </div>
  </div>
</div>
