<div class="container">
  <header><center><img src="images/polly-small.png" class="img-responsive main-image"></center></header>
  <div class="col-md-8 col-md-offset-2">
    <center> <h2>Welcome <%=@name%></h2> </center>

    <div class="content">
      <p>
        <a href="/polls/new"><h3>Make a Polly</h3></a>
        <br>
        <h3> Take a Polly </h3>       
      </p>
    </div>
  </div>
</div>
